<div
  class="sidebar-container"
  [style.width.%]="porcentajeSidebar"
  [style.transform]="menuOpen ? 'translateX(0)' : 'translateX(-100%)'"
>
  <ul>
    <li (click)="scrollToElement('inicio')">Inicio</li>
    <li>Series</li>
    <li>Películas</li>
    <li>Originales</li>
    <li>Recién Añadidos</li>
    <li>Últimos Días</li>
    <li>Próximamente</li>
    <li>En Tendencia</li>
    <hr width="100%" />
    <li>Géneros</li>
    <hr width="100%" />
    <div class="sidebar-brands">
      <div class="left-column column">
        <img src="assets/images/sidebar/hbo-sidebar.png" alt="HBO" />
        <img src="assets/images/sidebar/max-sidebar.png" alt="Max originals" />
        <img src="assets/images/sidebar/cn-sidebar.png" alt="Cartoon Network" />
      </div>
      <div class="column">
        <img src="assets/images/sidebar/wb-sidebar.png" alt="Warner Bros" />
        <img src="assets/images/sidebar/dc-sidebar.png" alt="DC Comics" />
      </div>
    </div>
  </ul>
</div>
@if(menuOpen){
<img
  alt="close sidebar"
  class="close-sidebar"
  src="assets/images/sidebar/x-btn.png"
  (click)="toggleMenu()"
/>
}