.watchlist-container {
  padding-left: 48px;
  margin-bottom: 48px;
}
h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #fff;

  img {
    width: 20px;
    height: 20px;
  }
  cursor: pointer;
  &:hover {
    img{
      scale: 1.2;
    }
  }
}

.watchlist-item {
  position: relative;
  transition: transform 0.4s ease-out;

  h4{
    max-width: 197px;
    color: #c7c7c7;
    margin: 0;
  }
}
.watchlist-slider {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  button {
    z-index: 110;
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
  }

  button:hover {
    img {
      scale: 1.1;
    }
  }

  button:first-child {
    left: 0px;
  }

  button:last-child {
    right: 0px;
  }
}
.watchlist-item-img {
  width: 197px;
  height: 197px;
  object-fit: cover;
  opacity: 0.8;
  border: 3px solid transparent;
  transition: border-color 0.2s ease-in-out;
  border-radius: 4px;

  &:hover {
    opacity: 1;
    border-color: rgb(140, 60, 177);
  }
}
